* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #040618;
    overflow: hidden;
}

.scene i{
    position: absolute;
    top: -250px;
    background: #999999;
    animation: stars-animate linear infinite;
}
@keyframes stars-animate {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(200vh);
    }
}

.rocket {
    position: absolute;
    animation: animate 0.2s ease infinite;
    pointer-events: none;
    z-index: 10;
    user-select: none;
}
@keyframes animate {
    0%,100%{
        transform: translateY(-52px) translateX(-50%);
    }
    50%{
        transform: translateY(-48px) translateX(-50%);
    }
}

/*main flame*/
.rocket::before{
    content: '';
    position: absolute;
    bottom: -205px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 10px;
    background: linear-gradient(rgb(20, 213, 239), rgba(0, 0, 0, 0));
    animation: flameMove .2s infinite;
    filter: blur(4px);
}
.rocket::after{
    content: '';
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    width: 10px;
    background: linear-gradient(rgb(20, 213, 239), rgba(0, 0, 0, 0));
    filter: blur(13px);
}

@keyframes flameMove {
    0%,100%{
        height: 200px;
        bottom: -220px;
    }
    50%{
        height: 215px;
        bottom: -235px;
    }
}

.scene:active .rocket::before,
.scene:active .rocket::after{
    background: linear-gradient(rgb(20, 213, 239), rgb(205, 32, 232), rgba(0, 0, 0, 0));
}