body {
  background-color: #343a40 !important;
  color: aliceblue !important;
}
.dark {
  color: aliceblue;
  background-color: #343a40 !important;
}
#my-modal___BV_modal_content_ {
  background-color: #343a40 !important;
}
