/* стартовые */
html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #010001;
	min-width: 320px;
	color: #fff;
	font-size: 16px;
	line-height: 1;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

button, input {
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 25px;
}


.list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.item-link {
	color: #ffffff;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 12px;
	line-height: 14px;
}

/* features */



/* footer */


/* calendar */



/* details */

.details-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}

.details-title {
	font-size: 32px;
	margin-bottom: 30px;
}

.details-image, .details-content {
	margin: 0 30px;
}

.details-youtube {
	margin: 0 auto;
	display: block;
}

.button-back {
	max-width: 200px;
	display: block;
	margin: 25px auto;
}

/* end */
